.title,
.picture,
.description,
.date {
  text-align: center;
  width: 100%; /* Ensure content is centered */
}

.picture{
  padding-top: 60px;
  padding-bottom: 60px;
  
}

.post {
    margin-bottom: 20px;
    border: 2px solid black; 
    width: 33vw; 
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    height: 100%; 
  
}