

.userInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 100vw;
    flex-direction: column;
    height: 120px;
   
  }
  
  /* .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  } */
  
  .back { 
  
     position: absolute;
     left: 0;
     margin-left: 30px;



  }

  .profilePic{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .newPost {
    position: absolute;
    right: 0;
    margin-right: 50px;
    font-size: ;
  }

  .logout {
    margin-right: 10px; 
   text-decoration: none;
   position:absolute;
   right:0;

  }

  .edit{
    position:absolute;
   right:0;
   margin-right:70px;
  }
  
  .profileInfo {
    text-align: center;
   
  }
  
  .username {
    font-size: 32px; 
    margin-right: 130px;
  }
  
  
  
  .favorites,
  .datesTaken {
    text-align: center;
    font-size: 14px; 
    margin-left: 20px;
  }
  
  .bottom {
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px dotted blue; */
  }

  .middle {
   display: flex;
  }


  .username {
    margin-left: 100px; /* Adjust margin as needed */
  }
  
  .title,
  .picture,
  .description,
  .date {
    text-align: center;
    width: 100%; /* Ensure content is centered */
  }
  
.title{
  margin-bottom: 24px;
  font-size: 20px;
}

  .picture{
   
    border: black 1px solid;
    margin-bottom: 30px;
  }

  .Posts {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;

 
 
  }

.date {

  
}

  .post{
    margin-bottom: 20px;
    border: 2px solid black; 
    width: 25vw; 
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    height: 430px; 
   
  }
  
  .profilePic {
    width:70px;
  }
